:root {
  --primary-color: #e50914;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins;
}

/* NAVIGATION STYLING */

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  image-resolution: 100%;
  width: 100px;
}

.movie-div {
  width: 180px;
  background-color: rgb(173, 6, 6);
  columns: 2;
  flex: right;
}

#search-form {
  display: flex;
  position:relative;
  border-radius: 50%;
  transform: translate(50%, 10%);
  width: 50%;
  align-items: center;
}

#search-input {
  margin-right: .5%;
  margin-top:2%;
  margin-bottom: 5%;
  color: #fff;
}

.btn {
  margin-bottom: 2.5%;
}

/* label focus color */
#search-input input[type=text]:focus + label {
  color: #000;
}
/* label underline focus color */
#search-input input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
#search-input input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
#search-input input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
#search-input .prefix.active {
  color: #000;
}

